Source: mesaplot
Section: science
Priority: optional
Maintainer: Andrew Duty <tisbeok@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://mleewise.com/mesaplot.php
#Vcs-Git: git://anonscm.debian.org/collab-maint/mesaplot.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/mesaplot.git

Package: mesaplot
Architecture: all
Depends: ${misc:Depends}, python-numpy, python-matplotlib, python-wxgtk3.0
Description: Interface for plotting MESA data
 MESAplot is an open-source, graphical and dynamical interface written
 in python for plotting MESA data. It is a replacement for the
 mathematica-based MESAFace. It uses wxPython, matplotlib, and numpy.
 One of our major goals in creating this new software was to make
 something very easy to install and use for both research and
 educational purposes.
